.App {
  text-align: center;
}

.Contents__List {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.Contents__List button {
  border: none;
  background-color: #6d3188;
  cursor: pointer;
  color: white;
  font-size: 24px;
  line-height: 28px;
  font-weight: bolder;
}

.header__Logo {
  margin-top: 3px;
  width: 150px;
  height: 70px;
}

.Album__Image {
  width: 247px;
  height: 247px;
  margin-right: 40px;
}